body{
    height:100vh;
    width:100vw;
    margin:0;
    background-color:Teal;
    display:grid;
    grid-template-columns:1fr 3fr;
    grid-template-rows:1fr 4fr;
}


.topright{
    grid-area:1/2/2/3;
    background-color:red;
   
}

.bottomleft{
    grid-area:2/1/3/2;
    background-color:beige;
    display:flex;
    flex-direction:column;
    gap:80px;
    align-items:center;
    justify-content:center;
}
#card{
    height:50px;
    width:200px;
    background-color:gray;
    text-align:Center;
    border:2px black solid;
    font-size:20px;
}


#selectperiod{
    height:200px;
    width:200px;
    box-shadow:2px 2px 2px 2px;
    border-radius:10px;
    border-color:orange;
    font-size:20px;
    color:skyblue;
    background-color:gray;
}

#bottomright{
    grid-area:2/2/3/3;
    background-color: blueviolet;
    display:grid;
    grid-template-columns:repeat(auto-fill, 200px);
    grid-template-rows:(1fr, auto);
    gap:20px;
}


#topright{
    display:flex;
    gap:30px;
    justify-content:center;
    align-items:center;
}
#groups{
    border:2px solid salmon;
    height:200px;
    width:200px;
    background-color:steelblue;
    font-size:32px;
    box-shadow: 2px 2px 2px 2px;
    border-radius:15px;
}